<li class="nav-dropdown-container learn">
  <a class="nav-link<%- page.path.match(/\/(guide(?!\/team.html$)|api|style-guide|examples|cookbook)(\/|$)/) ? ' current' : '' %>">学习</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <!-- <li><a href="<%- url_for("/v4/guide/") %>" class="nav-link<%- page.path.match(/\/guide(\/|$)/) ? ' current' : '' %>">入门</a></li> -->
      <li><a href="<%- url_for("/v4/spec/") %>" class="nav-link<%- page.path.match(/\/spec(\/|$)/) ? ' current' : '' %>">完整校对版</a></li>
      <li><a href="<%- url_for("/v4/module01/") %>" class="nav-link<%- page.path.match(/\/module01(\/|$)/) ? ' current' : '' %>">第一部分 机器翻译初稿</a></li>
      <li><a href="<%- url_for("/v4/module02/") %>" class="nav-link<%- page.path.match(/\/module02(\/|$)/) ? ' current' : '' %>">第二部分 机器翻译初稿</a></li>
      <li><a href="<%- url_for("/v4/module03/") %>" class="nav-link<%- page.path.match(/\/module03(\/|$)/) ? ' current' : '' %>">第三部分 机器翻译初稿</a></li>
      <li><a href="<%- url_for("/v4/module04/") %>" class="nav-link<%- page.path.match(/\/module04(\/|$)/) ? ' current' : '' %>">第四部分 机器翻译初稿</a></li>
      <li><a href="<%- url_for("/v4/module05/") %>" class="nav-link<%- page.path.match(/\/module05(\/|$)/) ? ' current' : '' %>">第五部分 机器翻译初稿</a></li>
      <li><a href="<%- url_for("/v4/module06/") %>" class="nav-link<%- page.path.match(/\/module06(\/|$)/) ? ' current' : '' %>">第六部分 机器翻译初稿</a></li>
      <li><a href="<%- url_for("/v4/module07/") %>" class="nav-link<%- page.path.match(/\/module07(\/|$)/) ? ' current' : '' %>">第七部分 机器翻译初稿</a></li>
      <li><a href="<%- url_for("/v4/module08/") %>" class="nav-link<%- page.path.match(/\/module08(\/|$)/) ? ' current' : '' %>">第八部分 机器翻译初稿</a></li>
      <li><a href="<%- url_for("/v4/module09/") %>" class="nav-link<%- page.path.match(/\/module09(\/|$)/) ? ' current' : '' %>">第九部分 机器翻译初稿</a></li>
      <li><a href="<%- url_for("/v4/module10/") %>" class="nav-link<%- page.path.match(/\/module10(\/|$)/) ? ' current' : '' %>">第十部分 机器翻译初稿</a></li>
      <li><a href="<%- url_for("/v4/module11/") %>" class="nav-link<%- page.path.match(/\/module11(\/|$)/) ? ' current' : '' %>">第十一部分 机器翻译初稿</a></li>
      <li><a href="<%- url_for("/v4/module12/") %>" class="nav-link<%- page.path.match(/\/module12(\/|$)/) ? ' current' : '' %>">第十二部分 机器翻译初稿</a></li>
      <li><a href="<%- url_for("/v4/module13/") %>" class="nav-link<%- page.path.match(/\/module13(\/|$)/) ? ' current' : '' %>">第十三部分 机器翻译初稿</a></li>
      <li><a href="<%- url_for("/v4/module14/") %>" class="nav-link<%- page.path.match(/\/module14(\/|$)/) ? ' current' : '' %>">第十四部分 机器翻译初稿</a></li>
    </ul></li>
  </ul>
</li>
