<li class="nav-dropdown-container learn">
  <a class="nav-link<%- page.path.match(/\/(guide(?!\/team.html$)|api|style-guide|examples|cookbook)(\/|$)/) ? ' current' : '' %>">学习</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <!-- <li><a href="<%- url_for("/v4/guide/") %>" class="nav-link<%- page.path.match(/\/guide(\/|$)/) ? ' current' : '' %>">入门</a></li> -->
      <li><a href="<%- url_for("/v4/spec/") %>" class="nav-link<%- page.path.match(/\/spec(\/|$)/) ? ' current' : '' %>">基础</a></li>
      <li><a href="<%- url_for("/v4/api/") %>" class="nav-link<%- page.path.match(/\/api(\/|$)/) ? ' current' : '' %>">文档</a></li>
      <li><a href="<%- url_for("/v4/style-guide/") %>" class="nav-link<%- page.path.match(/\/style-guide(\/|$)/) ? ' current' : '' %>">资源</a></li>
      <li><a href="<%- url_for("/v4/examples/") %>" class="nav-link<%- page.path.match(/\/examples(\/|$)/) ? ' current' : '' %>">规范</a></li>
      <li><a href="<%- url_for("/v4/cookbook/") %>" class="nav-link<%- page.path.match(/\/cookbook(\/|$)/) ? ' current' : '' %>">扩展</a></li>
      <li><a href="<%- url_for("/v4/cookbook/") %>" class="nav-link<%- page.path.match(/\/cookbook(\/|$)/) ? ' current' : '' %>">函数/操作</a></li>
      <li><a href="<%- url_for("/v4/cookbook/") %>" class="nav-link<%- page.path.match(/\/cookbook(\/|$)/) ? ' current' : '' %>">术语</a></li>
    </ul></li>
  </ul>
</li>
