<div class="sidebar">
  <div class="sidebar-inner">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
    <div class="list">
      <%- partial('partials/sponsors_sidebar') %>
      <% if (type !== 'search') { %>
        <h2>
          <% titles = {
            api: 'API',
            examples: '示例',
            guide: '教程',
            cookbook: 'Cookbook<sup class="beta">beta</sup>',
            'style-guide': '风格指南'
          } %>
          <%- titles[type] %>
          <% if (['cookbook', 'style-guide'].indexOf(type) === -1) { %>
            <select class="version-select">
              <option value="SELF" selected>R4</option>
              <option value="v1">STU 3</option>
              <option value="012">DSTU 2</option>
              <option value="011">DSTU 1</option>
            </select>
          <% } %>
        </h2>
        <%- partial('partials/toc', { type: type }) %>
      <% } %>
    </div>
  </div>
</div>

<!--
<%- partial('partials/platinum_sponsors', { context: 'right' }) %>
-->
